<!DOCTYPE html>
<html>
<head>
    <title>חידה 1</title>
</head>
<body>
    <h1>חידה 1:</h1>
    <p>התחל עם מספר כל המצוות שניתנו בתורה. לאחר מכן חסר את מספר הספרים המרכזיים של אותה תורה. עם המספר שאתה מקבל, הכפל אותו במספר הלוחות שעליהם נכתבו עשרת הדיברות. תקבל מספר חדש. עכשיו, לקח את כל הספרות של המספר החדש שקיבלת, וסכום אותן ביחד (לדוגמה, אם המספר שלך הוא 5427, תצטרך להוסיף 5+4+2+7). לאחר מכן הוסף אחד לתוצאה. איזה מספר אתה מקבל?</p>
    <form action="/enigme" method="post">
        <input type="text" name="reponse">
        <input type="submit" value="שלח">
    </form>
</body>
</html>
